.info {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    &__title {
        margin: 0px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        font-feature-settings: 'pnum', 'lnum';

        color: #000;
    }

    &__img {
        width: 500px;
        height: initial;
    }
}

@media screen and (max-width: 1024px) {
    .info {


        &__img {
            width: 309px;
            height: initial;
        }
    }
}

@media screen and (max-width: 768px) {
    .info {


        &__img {
            width: 285px;
            height: initial;
        }
    }
}

@media screen and (max-width: 675px) {
    .info {

        &__img {
            width: 360px;
            height: initial;
        }
    }
}
@media screen and (max-width: 430px) {
    .info {


        &__img {
            width: 288px;
            height: initial;
        }
    }
}
@media screen and (max-width: 360px) {
    .info {

        &__title {
            font-size: 18px;
            line-height: 21px;
        }
    }
}