.popup{

    &__burger{
        display: none;
    
        width: 40px;
        height: 40px;
    
        background-image: url(./svg/burger.svg);
        background-position: center;
        background-repeat: no-repeat;
        
        background-color: transparent;
        border: none;
    }
}

@media screen and (max-width: 950px) {
    .popup{
        &__burger{
            display: flex;
        }
    }
}