.contacts{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &__email{
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 300;

        color: #fff;
        text-decoration: none;
        text-align: center;
    }

    &__phone{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 300;

        color: #fff;
        text-decoration: none;
        text-align: center;
    }
}