.button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 42px;



    &__left{
        width: 120px;
        height: 30px;

        background-image: url(./svg/arrows__pic__left.svg);
        background-repeat: no-repeat;
        background-size: auto;
        background-color: transparent;
        background-position: center;

        border: none;

        transition: 0.5s;

        &:hover{
            opacity: 0.6;
        }
    }
    &__right{
        width: 120px;
        height: 30px;

        background-image: url(./svg/arrows__pic__right.svg);
        background-repeat: no-repeat;
        background-size: auto;
        background-color: transparent;
        background-position: center;

        border: none;

        transition: 0.5s;

        &:hover{
            opacity: 0.6;
        }
    }
}

@media screen and (max-width: 1024px){
    .button{

        &__left{
            background-image: url(./svg/Arrow_left_1024.svg);

            height: 50px;
        }

        &__right{
            background-image: url(./svg/Arrow_right_1024.svg);

            height: 50px;
        }
    }
}