.item {
    display: flex;
    flex-direction: column;

    &__title {
        margin: 0px;

        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 400;

        color: #fff;
    }

    // закрытый item
    &__wrapper {
        display: flex;
        flex-direction: row;
        column-gap: 29px;

        margin-top: 12px;

        width: 82px;
        height: 82px;

        border: none;

        overflow: hidden;

        transition: width 1s;

        // модификатор
        &_open {
            width: 100%;
            height: fit-content;
            max-height: 200px;
            // transition: 1s;

            border: 1.2px solid #DA6836;
            border-radius: 41px;
            padding: 29px 19px;
        }
    }

    // закрытая кнопка
    &__button {
        min-width: 82px;
        height: auto;

        background-image: url(./svg/open.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        background-color: transparent;
        border: none;

        transition: 0.5s;

        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }

        // модификатор
        &_open {
            background-image: url(./svg/close.svg);
            background-position: 0px -30px;
        }
    }

    &__text {
        max-width: 1240px;
        width: 100%;

        margin: 0px;

        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 400;

        color: #fff;
    }
}

@media screen and (max-width: 1270px) {
    .item {

        &__wrapper {

            &_open {
                max-height: 300px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .item {

        &__title {
            font-size: 18px;
        }

        &__text {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 768px) {
    .item {

        &__title {
            font-size: 16px;
        }

        &__text {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 610px) {
    .item {

        &__wrapper {

            &_open {
                max-height: 380px;
            }
        }
    }
}


@media screen and (max-width: 460px) {
    .item {

        &__wrapper {

            &_open {
                max-height: 420px;
            }
        }
    }
}


@media screen and (max-width: 420px) {
    .item {

        &__text {
            font-size: 14px;
        }
    }
}


@media screen and (max-width: 365px) {
    .item {

        &__wrapper {

            &_open {
                max-height: 450px;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .item {
        .item {

            &__button {
                min-width: 68px;
            }
        }
    }
}

@media screen and (max-width: 325px) {
    .item {

        &__wrapper {

            &_open {
                max-height: 500px;
            }
        }
    }
}