.item{
    display: flex;
    flex-direction: column;

    &__title{
        margin: 0px;

        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 400;

        color: #fff;
    }

     //  Открытый item
     &__wrapper__close{
        display: flex;
        flex-direction: row;
        column-gap: 29px;

        margin-top: 12px;

        width: 100%;

        border: 1.2px solid #DA6836;
        border-radius: 41px;

        padding: 29px 19px;

        overflow: hidden;

        transition: 1s;

        &__btn__close{
            max-width: 48px;
            width: 100%;
            min-width: 48px;
            height: auto;

            background-image: url(./btnImg/close.svg);
            background-repeat: no-repeat;
            background-size: auto;

            background-color: transparent;
            border: none;
        }
    }

    //  Закрытый item
    &__wrapper{
        display: flex;
        flex-direction: row;
        column-gap: 29px;

        margin-top: 12px;

        width: 82px;
        height: 82px;

        border: none;

        overflow: hidden;

        transition: 1s;

        &__btn{
            min-width: 82px;
            height: auto;

            background-image: url(./btnImg/open.svg);
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;

            background-color: transparent;
            border: none;
        }
        &__text{
            max-width: 1240px;
            width: 100%;
            min-width: 354px;

            margin: 0px;

            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            font-weight: 400;

            color: #fff;
        }
    }
}