.item {
    display: flex;
    flex-direction: row;
    gap: 10px;

    width: 100%;
    max-width: 690px;

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__block {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 54px;
    }

    &__number {
        margin: 0px;

        font-family: 'Playfair Display', serif;
        font-size: 64px;
        font-weight: 400;

        color: #fff;
        font-feature-settings: 'pnum', 'lnum';
    }

    &__desc {
        margin: 0px;

        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 400;

        color: #fff;

        width: 100%;
        max-width: 163px;

        position: relative;

        &::before {
            display: inline-block;
            content: '';

            position: absolute;
            top: -5px;
            left: -27px;

            height: 53px;
            width: 1px;

            background-color: #DA6836;
        }
    }

    &__slogan {
        margin: 0px;
        margin-top: 23px;

        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 400;

        color: #fff;

        width: 100%;
        max-width: 382px;
    }

    &__img {
        // Возможно будет изменено
        width: 300px;
        height: 448px;
    }
}

@media screen and (max-width: 1550px) {
    .item {
        max-width: 569px;

        &__img {
            width: 270px;
            height: 403px;
        }
    }
}

@media screen and (max-width: 1278px) {
    .item {
        width: 569px;

        &__block {
            width: 290px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .item {


        &__number {
            font-size: 52px;
        }

        &__desc {
            font-size: 16px;
        }

        &__slogan {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 768px) {
    .item {
        flex-direction: column;

        &__number {
            font-size: 48px;
        }
    }
}