.subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    &__slogan {
        display: flex;
        align-self: flex-end;

        margin: 0px;

        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 96px;
        color: #fff;
    }

    &__span {
        white-space: pre;
        font-style: italic;
    }
}

@media screen and (max-width: 1550px) {
    .subtitle {

        &__slogan {
            font-size: 64px;
        }

        &__span {
            font-size: 64px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .subtitle {
        justify-content: right;
    }
}

@media screen and (max-width: 669px) {
    .subtitle {

        &__slogan {
            font-size: 40px;

        }

        &__span {
            font-size: 40px;
        }
    }
}

@media screen and (max-width: 420px) {
    .subtitle {
        
        &__slogan {
            font-size: 36px;

            padding-bottom: 60px;
        }

        &__span {
            font-size: 36px;
        }
    }
}

@media screen and (max-width: 350px) {
    .subtitle {

        &__slogan {
            font-size: 36px;
        }

        &__span {
            font-size: 36px;
        }
    }
}