.instruction{
    width: 100%;
    max-width: 1420px;

    margin: 0 auto;
    margin-top: 252px;

    &__header{
        margin: 0px;

        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 400;

        color: #fff;
        text-transform: uppercase;
    }

    
}