.product {
    display: flex;
    flex-direction: column;

    min-width: 250px;
    width: 100%;
    max-width: 250px;
    min-height: 329px;
    height: 100%;

    background-image: url(./svg/ourProducts__img__0.svg);
    background-repeat: no-repeat;
    background-size: cover;


    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin: 20px 20px 18px 20px;
        height: 100%;
    }

    &__price {
        display: flex;
        flex-direction: column;
    }

    &__priceNew {
        display: flex;
        margin: 0px;

        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 600;

        color: #fff;
        font-feature-settings: 'pnum', 'lnum';
    }

    &__priceOld {
        margin: 0px;

        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 400;

        color: #FFFFFF80;
        text-decoration: line-through;
        font-feature-settings: 'pnum', 'lnum';
    }

    &__text {
        margin: 0px;

        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 600;

        color: #fff;
    }

    &__button {
        position: relative;

        background-color: transparent;

        border: none;

        max-width: 67px;
        width: 100%;

        padding: 0px;
        margin: 0px;
        margin: 0px 0px 18px 20px;

        font-family: 'Playfair Display', serif;
        font-weight: 500;
        font-size: 18px;

        color: #000;
        text-align: left;

        &::after {
            display: inline-block;
            position: absolute;
            left: 0px;
            bottom: -2px;

            width: 70px;
            height: 5px;

            content: '';

            background-image: url(./svg/Arrow1.svg);
            background-repeat: no-repeat;
        }
    }
}