.title{
    display: flex;
    flex-direction: column;

    padding-top: 75px;
    &__text{
        margin: 0px;

        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 96px;
        color: #fff;
    }
}

@media screen and (max-width: 1550px){
    .title{

        &__text{
            font-size: 64px;
        }
    }
}

@media screen and (max-width: 669px){
    .title{

        &__text{
            font-size: 40px;
        }
    }
}
@media screen and (max-width: 350px){
    .title{

        &__text{
            font-size: 36px;
        }
    }
}