.title{
    display: flex;
    flex-direction: column;

    padding-top: 75px;

    &__text{
        margin: 0px;

        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 96px;
        color: #000;
    }
}

@media screen and (max-width: 1550px){
    .title{

        &__text{
            font-size: 72px;
        }
    }
}

@media screen and (max-width: 793px){
    .title{

        &__text{
            font-size: 40px;
        }
    }
}
@media screen and (max-width: 438px){
    .title{

        &__text{
            font-size: 36px;
        }
    }
}

@media screen and (max-width: 420px){
    .title{
        padding-top: 0px;
    }
}