.logo{
    display: flex;
    flex-direction: row;

    &__star{
        margin-right: 4px;
    }
    &__text{
        margin: 0px;

        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 24px;
        color: #DA6836;
    }
}

@media screen and (max-width: 1024px){
    .logo{

        &__text{
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 850px){
    .logo{

        &__text{
            font-size: 24px;
        }
    }
}