.product {
    display: flex;
    flex-direction: column;

    &__title {
        margin: 0px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        font-feature-settings: 'pnum', 'lnum';

        color: #000;
    }

    &__list {
        margin-top: 54px;

        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }
}