.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

    width: 100%;
    max-width: 1421px;
}