.order {
    display: flex;
    flex-direction: column;

    max-width: 1420px;
    width: 100%;
    // min-width: 320px;

    margin: 0 auto;

    padding-top: 31px;

    border-top: 1.2px solid #FFFFFF;

    &__header {
        margin: 0px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        text-transform: uppercase;
        font-feature-settings: 'pnum', 'lnum';

        color: #FFFFFF;

    }

    &__info {
        margin-top: 76px;

        display: flex;
        flex-direction: row;
        column-gap: 220px;
    }

    &__submit {
        display: none;
    }

    &__text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        font-feature-settings: 'pnum', 'lnum';

        color: #FFFFFF;
    }

    &__button {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        font-feature-settings: 'pnum', 'lnum';

        color: #FFFFFF;

        background-color: transparent;
        border: 1.2px solid #DA6836;

        padding: 15px;
    }
}

@media screen and (max-width: 1450px) {
    .order {
        width: calc(100% - 96px);
    }
}

@media screen and (max-width: 1024px) {
    .order {

        &__info {
            column-gap: 114px;
        }
    }
}

@media screen and (max-width: 768px) {
    .order {
        width: calc(100% - 48px);

        &__info {
            column-gap: unset;
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 630px) {
    .order {
        width: calc(100% - 32px);

        &__info {
            flex-direction: column;
            row-gap: 54px;
        }
        &__submit{
            display: flex;
            flex-direction: column;

            margin-top: 80px;
        }
    }
}