.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 38px;

    margin: 0 auto;
    margin-top: 212px;
    margin-bottom: 48px;

    width: 100%;
    max-width: 1420px;
}