.feedback {
    display: flex;
    flex-direction: column;

    max-width: 1420px;
    width: 100%;
    min-width: 320px;

    margin: 0 auto;
    margin-top: 230px;

    &__header {
        margin: 0px;

        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 400;

        color: #fff;
        text-transform: uppercase;
    }

    &__paragraf {
        margin: 0px;
        margin-top: 77px;

        width: 100%;
        max-width: 768px;

        font-family: 'Playfair Display';
        font-size: 40px;
        font-weight: 400;

        color: #fff;
    }
}

@media screen and (max-width: 1550px) {
    .feedback {
        padding: 0px 48px;
    }
}

@media screen and (max-width: 1024px) {
    .feedback {
        margin-top: 146px;

        &__header{
            font-size: 18px;
        }
        &__paragraf{
            font-size: 36px;
        }
    }
}

@media screen and (max-width: 768px) {
    .feedback {
        margin-top: 186px;

        padding: 0px 24px;
    }
}

@media screen and (max-width: 420px) {
    .feedback {
        margin-top: 144px;

        padding: 0px 16px;

        &__paragraf{
            font-size: 27px;
        }
    }
}

@media screen and (max-width: 320px) {
    .feedback {
        margin-top: 124px;
    }
}