.link{
    display: flex;
    flex-direction: row;
    column-gap: 54px;

    &__text{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 400;

        color: #fff;
        text-decoration: none;

        transition: 0.5s;

        &:hover{
        color: #FFFFFF80;
        }
    }
}

@media screen and(max-width: 1024px) {
    .link{
        &__text{
            font-size: 16px;
        }
    }
}
@media screen and(max-width: 460px) {
    .link{
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
    }
}