.description {
    display: flex;
    flex-direction: column;

    &__text {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #000;

        margin: 0px;
        margin-bottom: 63px;

        width: 100%;
        max-width: 328px;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;

        cursor: pointer;

        //  Модификатор
        &:hover{

            .description__img__fill{
                fill: #d4bdb0;
            }
            .description__button{
                color: #d4bdb0;
            }
        }
    }

    &__button {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 20px;
        text-align: left;

        background-color: transparent;

        border: none;

        color: #000;

        padding: 0px;

        margin-right: 21px;

        cursor: pointer;
        
        transition: 0.5s;
    }

    &__img {
        display: flex;
        align-self: center;

        &__fill{
            transition: 0.5s;
        }
    }
}


@media screen and (max-width: 1024px) {
    .description {
        align-self: center;

        &__text{
            margin-bottom: 40px;
        }

        &__wrapper{
            align-self: flex-start;
        }

        &__button{
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .description {
        align-items: center;
    }
}

@media screen and (max-width: 420px) {
    .description {


        &__text{
            font-size: 16px;
        }
    }
}