.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
    
    &__img{
        // Возможно будет что-то добавлено
        width: 38px;
        height: 38px;
    }
    &__title{
        margin: 0px;

        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: 300;

        color: #DA6836;
    }
}

@media screen and(max-width: 1024px) {
    .logo{

        &__title{
            font-size: 20px;
        }
    }
}
@media screen and(max-width: 420px) {
    .link{


        &__title{
            font-size: 16px;
        }
    }
}