.phone{
    display: flex;
    flex-direction: row;
    
    &__link{
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        text-decoration: none;
        color: #000;
    }
}

@media screen and (max-width: 1024px){
    .phone{

        &__link{
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 850px){
    .phone{
        display: none;
    }
}
