.list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 1420px;
    width: 100%;

    height: 665px;

    margin: 0 auto;

    background-image: url(./previewbg/mainScreenPhoto.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
}