.wrapper {
    display: flex;
    flex-direction: row;

    &__button {
        background-color: transparent;

        border: none;

        transition: 0.5s;

        &:hover{
            opacity: 0.6;
        }
    }

    &__img {
        // Потому будет дополнено
    }

    &__list {
        display: flex;
        flex-direction: row;
        gap: 14px;

        margin: 0px 5px;

        overflow: hidden;
    }
}

@media screen and (max-width: 1024px){
    .wrapper{

        &__button{
            display: none;
        }
    }
}