.ourproject {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    margin-top: 170px;

    max-width: 1420px;
    width: 100%;
    min-width: 320px;

    &__title {
        margin: 0px;
        margin-bottom: 31px;
        margin-left: 67px;

        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        text-transform: uppercase;

        color: #fff;
    }
}

@media screen and (max-width: 1550px){
    .ourproject{
        max-width: 1180px;

        padding: 0px 48px;
    }
}
@media screen and (max-width: 1024px){
    .ourproject{
        max-width: 928px;

        margin-top: 144px;

        &__title{
            margin-left: 0px;
        }
    }
}
@media screen and (max-width: 768px){
    .ourproject{
        max-width: 720px;

        margin-top: 125px;

        padding: 0px 24px;
    }
}
@media screen and (max-width: 420px){
    .ourproject{
        max-width: 388px;

        margin-top: 107px;

        padding: 0px 16px;
    }
}
@media screen and (max-width: 360px){
    .ourproject{
        max-width: 328px;
    }
}
@media screen and (max-width: 320px){
    .ourproject{
        max-width: 288px;
    }
}